<nav class="navbar navbar-fixed-top navbar-dark bg-inverse">
  <div class="container">
    <a class="navbar-brand">Angular Router</a>
    <ul class="nav navbar-nav" routerLinkActive="active">
      <li class="nav-item"><a class="nav-link" routerLink="home">Home</a></li>
      <li class="nav-item"><a class="nav-link" routerLink="upload">Upload</a></li>
    </ul>
  </div>
</nav>

<div class="content">

  <div [ngClass]="showSideNavigation ? 'd-fixed' : 'd-none d-md-block'" class="side-navigation">
    <perfect-scrollbar>
      <div class="menu mt-3">
        <!-- <div *ngFor="let menuItem of menuService.menuItems" class="menu-item-container">
           <div class="menu-item" [ngClass]="menuItem.active ? 'active' : ''"
                (click)="routerService.openRoute(menuItem.path)">
             <div class="icon"><i class="bi" [ngClass]="menuItem.icon"></i></div>
             <div class="name">{{ menuItem.name | translate }}</div>
             <div *ngIf="menuItem.menuItems && menuItem.menuItems.length > 0" class="down">
               <i class="bi" [ngClass]="menuItem.active ? 'bi-chevron-down' : 'bi-chevron-right'"></i>
             </div>
           </div>-->
        <!--<div *ngIf="menuItem.active" class="sub-menu-items">
          <div *ngFor="let menuSubItem of menuItem.menuItems"
               class="sub-menu-item" [ngClass]="menuSubItem.active ? 'active' : ''"
               (click)="routerService.openRoute(menuSubItem.path)">
            <div class="name">{{ menuSubItem.name | translate }}</div>
          </div>
        </div>
      </div>-->
      </div>
    </perfect-scrollbar>
  </div>

  <p>{{this.moduleId}}</p>

  <button (click)="this.saveChanges()">Änderungen speichern</button>


  <div *ngIf="this.result.dataAreas != null">

  <div *ngFor="let dataArea of this.result.dataAreas">
    <app-dataarea [dataArea]="dataArea"></app-dataarea>
  </div>
</div>

  <div class="router">
    <router-outlet></router-outlet>
  </div>

</div>
